<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DeviceName" value="10976403BW102188" />
		<add key="platformVersion" value="13" />
		<add key="platformName" value="Android" />
		<add key="automationName" value="UiAutomator2" />
		<add key="appActivity" value="com.zain.quizportal.MainActivity" />
		<add key="appPackage" value="com.zain.quizportal" />
		<add key="uri" value="http://127.0.0.1:4723/" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>